::-webkit-scrollbar {
display: none;
}

/**************************************************/

@-webkit-keyframes move-right {
  from { left: -800px; }
  to { left: 0; }
}
@-moz-keyframes move-right {
  from { left: -800px; }
  to { left: 0; }
}
@-ms-keyframes move-right {
  from { left: -800px; }
  to { left: 0; }
}
@-o-keyframes move-right {
  from { left: -800px; }
  to { left: 0; }
}
@keyframes move-right {
  from { left: -800px; }
  to { left: 0; }
}

/**************************************************/

@-webkit-keyframes move-left {
  from { right: -450px; }
  to { right: 0; }
}
@-moz-keyframes move-left {
  from { right: -450px; }
  to { right: 0; }
}
@-ms-keyframes move-left {
  from { right: -450px; }
  to { right: 0; }
}
@-o-keyframes move-left {
  from { right: -450px; }
  to { right: 0; }
}
@keyframes move-left {
  from { right: -450px; }
  to { right: 0; }
}

/**************************************************/

@-webkit-keyframes move-up {
  from { top: 600px; }
  to { top: 0; }
}
@-moz-keyframes move-up {
  from { top: 600px; }
  to { top: 0; }
}
@-ms-keyframes move-up {
  from { top: 600px; }
  to { top: 0; }
}
@-o-keyframes move-up {
  from { top: 600px; }
  to { top: 0; }
}

@keyframes move-up {
  from { top: 600px; }
  to { top: 0; }
}

/**************************************************/

@-webkit-keyframes color-change {
  0% { color: #2b2920; }
  25% { color: #9471b1; }
  50% { color: #4682B4; }
  75% { color: #9b6577; }
  100% { color: #8eb171; }
}
@-moz-keyframes color-change {
  0% { color: #2b2920; }
  25% { color: #9471b1; }
  50% { color: #4682B4; }
  75% { color: #9b6577; }
  100% { color: #8eb171; }
}
@-ms-keyframes color-change {
  0% { color: #2b2920; }
  25% { color: #9471b1; }
  50% { color: #4682B4; }
  75% { color: #9b6577; }
  100% { color: #8eb171; }
}
@-o-keyframes color-change {
  0% { color: #2b2920; }
  25% { color: #9471b1; }
  50% { color: #4682B4; }
  75% { color: #9b6577; }
  100% { color: #8eb171; }
}
@keyframes color-change {
  0% { color: #2b2920; }
  25% { color: #9471b1; }
  50% { color: #4682B4; }
  75% { color: #9b6577; }
  100% { color: #8eb171; }
}

/**************************************************/

@keyframes box-shadow {
  from {box-shadow: 0px 0px #606060;}
  to {box-shadow: 10px 10px #323232;}
}

/**************************************************/

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  background: url("footer_lodyas.png") repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

article,
aside,
footer,
header,
nav {
  display: block;
}

p {
	font-family: "Nunito", Verdana, sans-serif;
}

img {
  border-style: none;
}

/**************************************************/

.container {
  height: 900px;
  width: 1300px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px .5em #323232;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5;
  box-sizing: border-box;
}

aside {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.bio {
  height: 100%;
  box-sizing: border-box;
  grid-column: 1/4;
  grid-row: 1/5;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0px 0px 8px -3px #696868;
 }

 #bio {
   position: absolute;
 }

.bio-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin:  10% auto 10%;
  background: url("notme.jpg") no-repeat;
  background-position: cover;
  background-size: 100%;
  box-shadow: 0px 0px .4em #606060;
 }

.bio-name > h1 {
  font-family: 'Roboto Condensed', Verdana, sans-serif;
  font-size: 2em;
  margin-bottom: 0;
  }

.bio-name > p {
  opacity: .7;
  margin-top: 5px;
  font-size: 1.1em;
  }

 p > span {
  color: #9471b1;
  }

.color-shuffle {
  -webkit-animation: color-change 6s infinite alternate;
  -moz-animation: color-change 6s infinite alternate;
  -ms-animation: color-change 6s infinite alternate;
  -o-animation: color-change 6s infinite alternate;
  animation: color-change 6s infinite alternate;
  }

.bio-profiles {
  box-sizing: border-box;
  position: absolute;
  height: 11.5%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  padding: 1%;
  padding-top: 5%;
  text-align: center;
  overflow: hidden;
}

.bio-profiles a {
  padding: 3%;
  display: inline-block;
  margin: auto;
  background-color: #fafafa;
  -webkit-text-decoration-skip: objects;
  box-sizing: border-box;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #606060;
  box-shadow: 2px 2px #606060;
}

a:hover {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px #606060;
}

/**************************************************/

nav {
  width: auto;
  height: 35px;
  grid-column: 4/13;
  grid-row: 1/5;
  box-sizing: border-box;
  text-align: right;
  padding: 1%;
  padding-bottom: 0;
  overflow: hidden;
}

h3 {
  display: inline;
  font-family: 'Roboto Condensed', Verdana, sans-serif;
  font-size: 1em;
  box-shadow: none;
  opacity: .4;
  transition: all 300ms ease-in-out;
  margin-right: 25px;
}

.selected {
  opacity: 1;
}

.navbar a {
  box-shadow: none;
}

/**************************************************/

main {
  box-sizing: border-box;
  height: auto;
  margin-top: 35px;
  width: auto;
  grid-column: 4/13;
  grid-row: 1/5;
  overflow-y: hidden;
}

article {
  height: 100%;
  font-family: "Nunito", Verdana, sans-serif;
}

.about {
  background-color: #fafafa;
  transition: all 300ms ease-in;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about div:first-child {
  background-color: #547B7C;
  color: #fafafa;
  text-align: right;
  width: 45%;
  height: 65%;
  box-shadow: 0px 10px 0px #323232;
}

.paragraph {
  text-align: right;
  font-size: .9em;
  padding: 5%;
  border-right: 3px solid #7eba9e;
  border-bottom: 3px solid #7eba9e;
  box-sizing: border-box;
  overflow: hidden;
}

.paragraph p {
  margin-top: 15px;
  text-shadow: 2px 2px #606060;
}

.intro {
  flex: 0 1 auto;
  padding: 5%;
  background-color: #fafafa;
  position: relative;
  left: -700px;
  width: 75%;
  height: 85%;
  animation: move-right .6s linear;
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

.intro h2 {
  border-right: 3px solid #fafafa;
  padding: 5px 5% 5px;
  text-shadow: 2px 2px #606060;
}

.technologies {
  background-color: #773667;
  box-shadow: 10px 10px 0px #323232;
  width: 3%;
  height: 75%;
  font-size: 4em;
  padding: 5%;
  color: #a9bdbd;
  text-align: center;
  position: relative;
  right: -450px;
  animation: move-left .6s linear;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.technologies * {
  color: white;
  padding-top: 5%;
  flex-shrink: 2;
  position: relative;
  top: 600px;
  animation: move-up .5s linear;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}

/**************************************************/

.proyectos {
  background-color: #fafafa;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio {
  width: 85%;
  height: 85%;
  transition: all 300ms ease-in;
  background-color: #ffb19b;
  box-shadow: 3px 3px #323232;
  box-sizing: border-box;
  position: relative;
  left: -800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  overflow-y: scroll;
}

.portfolio-animate {
  animation: move-right .5s linear;
  animation-delay: none;
  animation-fill-mode: forwards;
}

.portfolio-page {
  width: 85%;
  height: 75%;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 7px 7px 0px #606060;
  box-sizing: border-box;
  flex-shrink: 1;
  cursor: pointer;
  transition: all 500ms ease-in;
  margin-left: 5%;
  position: relative;
  background-size: 100% 100%;
}

.homunculus {
  background-image: url("homunc.png");
}

.hawkins {
  background-image: url("hawkins.png");
}

.karnivale {
  background-image: url("karnivale.png");
}

.randomQuotes {
  background-image: url("randomquotes.png");
}

/**************************************************/

.contacto {
  background-color: #8eb171;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

@media only screen and (max-width: 1366px) {
	.container {
	  height: 750px;
	  width: 1100px;
	}

  h3 {
    font-size: .9em;
    margin-right: 5px;
  }

	.bio-name > h1 {
		font-size: 1.5em;
	}

  .bio-name p {
    font-size: 1em;
  }

  nav {
    padding: 7px;
  }

  .intro h2 {
    font-size: 1.4em;
  }

  .paragraph {
    font-size: 0.7em;
    padding: 5%;
  }

  .technologies {
    font-size: 3em;
  }

  .portfolio {
    width: 85%;
    height: 85%;
  }

  .portfolio-page {
    width: 80%;
    height: 80%;
  }
}
