* {
  box-sizing: border-box;
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}

p {
  font-family: "Nunito", sans-sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
          "bio bio nav nav nav nav"
          "bio bio main main main main"
          "bio bio main main main main"
          "bio bio main main main main"
          "bio bio main main main main"
          "bio bio main main main main"
          "bio bio main main main main"
          "bio bio main main main main"
          "bio bio main main main main";
  background-color: #f6f6f6;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div.container-bio {
  grid-area: bio;
  height: 100%;
  width: 30%;
  text-align: center;
  position: fixed;
  background-color: #0288cf;
  color: #f6f6f6;
  z-index: 50;
  transition: all 300ms ease-in;
}

div.bio-photo {
  background-image: url("notme.jpg");
  height: 150px;
  width: 150px;
  background-size: cover;
  margin: 10% auto;
  margin-bottom: 5%;
  border-radius: 50%;
}

.bio-name {
  padding: 3%;
  text-shadow: 1px 1px 1px #014467;
}

.bio-name span {
  color: #99cfeb;
}

.bio-profiles {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 12%;
  align-items: center;
  justify-content: space-around;
  font-size: 1.7em;
  background-color: #01517c;
  transition: all 400ms ease-in;
}

.bio-profiles a:hover {
  transform: scale(1.2);
  color: #fc8a50;
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  background-color: #f6f6f6;
  position: fixed;
  top: 0;
  padding: 1%;
}

nav a {
  margin: 0 6%;
  transition: all 1s ease-in;
}

nav a h3 {
  opacity: .6;
  transition: all 300ms ease-in;
}

.selected {
  box-shadow: 0px 10px 0px #fc8a50;
  opacity: 1;
}

.selected2 {
  box-shadow: 0px 10px 0px 	#02c8aa;
  opacity: 1;
}

main {
  grid-area: main;
  height: 100%;
  scroll-behavior: smooth;
}

.about {
  height: 100%;
  padding-top: 10%;
  margin-bottom: 20%;
  margin-right: 25%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro h2 {
  align-self: flex-start;
}

.technologies {
  font-size: 4em;
  margin: 15% 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #3b5998;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-git-square {
  color: #333;
}

article {
  height: 100%;
}

article.proyectos {
  height: 100%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  overflow: visible;
  /* padding-top: 5%; */
}

.portfolio-page {
  min-height: 70%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 5%;
  box-shadow: 5px 5px #51696d;
  transition: all 300ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.portfolio-page:hover {
  transform: scale(1.05);
  box-shadow: inset 0px 0px .8em #191919;
}

.hover {
  background-color: rgba(32, 32, 32, .95);
  height: 400px;
  width: 100%;
  opacity: 0;
  transition: all 400ms ease;
  color: #fafafa;
  text-align: center;
  overflow: hidden;
}

div.hover h3 {
  padding: 10%;
}

div.hover p {
  margin: 5%;
}

.popshuvit {
  background-image: url("popshuvit.png");
}

.aRattel {
  background-image: url("arattel-tarjeta-nodata.png");
  background-size: contain;
}

.homunculus {
  background-image: url("homunc.png");
}

.hawkins {
  background-image: url("hawkins.png");
}

.karnivale {
  background-image: url("karnivale.png");
}

.randomQuotes {
  background-image: url("randomquotes.png");
}

.narciso {
  background-image: url("narciso.png");
  background-size: contain;
  background-color: #323232;
}
